* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.container {
  border: none;
  /* border: 1px solid #61dafb; */
}

.question {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
}

label {
  font-size: 16px;
}

.pagination {
  flex-wrap: wrap;
}