* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #fff;
}

label {
  font-size: 16px;
}

.questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.pagination {
  flex-wrap: wrap;
}

#toggle-head {
  /* position: fixed; */
  top: 20px;
  left: 20px;
}
